<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./form.css">
    <title>Message Board</title>
  </head>
  <body>
    <h1><%=title %></h1>
    <a href="/">all messages</a>

    <form method="POST" action="/new">
        <input type="text" name="user" placeholder="user" />
        <input type="text" name="text" placeholder="message" />
        <button type="submit">send</button>
    </form>

  </body>
</html>